<!DOCTYPE html>
<html>
<head>
    <title>Crypto Streaming</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@6.1.0/bundles/stomp.umd.min.js"></script>
</head>
<body class="container-fluid">
<noscript><h2 style="color: #ff0000;">Seems your browser doesn't support Javascript! WebSocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="shadow p-3 mb-6 bg-light rounded">
        <div>
            <form class="form-inline justify-content-center">
                <nav class="navbar navbar-light bg-light">
                    <label for="connect">Enter Crypto Currency &nbsp; </label>

                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" id="name" placeholder="here..." />&nbsp;
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="connect">Connect</button>&nbsp;&nbsp;
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="disconnect">Disconnect</button>
                    </form>
                </nav>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Live Feeds</th>
                </tr>
                </thead>
                <tbody id="greetings"></tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
